
.image-placeholder-large {
    width:100%;
    height: 400px;
    position: relative;
    background-color: black;
    
}

.product-image-large {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.no-image-available-large {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: whitesmoke;
   color: black;
   font-size: 1rem;
    
}


.card-header {
    background-color: #0056b3;
    color: whitesmoke;
    
}

.details-title {
    font-size: 1.2rem;
    color:  #6c757d;    
}

.comments-section {
   padding: 10px;
   margin-bottom: 10px;
   color: black;
   background-color: whitesmoke;    
}

